# Локальное окружение
/venv/

# Файл с сестемными перменными, для подключения к бд
.env

*.txt
!requirements.txt

*.db

*.ini
.idea

/migrations/
__pycache__/
*/*/__pycache__/
*/__pycache__/

*.mp3
*.mp4


